<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="generator.domain.User">
            <id property="userId" column="userId" jdbcType="VARCHAR"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="userAccount" column="userAccount" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="INTEGER"/>
            <result property="userPassword" column="userPassword" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phoneNumber" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="userState" column="userState" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="INTEGER"/>
            <result property="userRole" column="userRole" jdbcType="INTEGER"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="profile" column="profile" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        userId,userName,userAccount,
        avatar,gender,userPassword,
        phoneNumber,email,userState,
        createTime,updateTime,isDelete,
        userRole,tags,profile
    </sql>
</mapper>
